<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="walletUpdateTimeMiliseconds" value="1000" />

    <add key="lendingPeriodMinute" value="20" />
    <add key="lendingUpdateTimeMiliseconds" value="1000" />
    
    <add key="exchangeUpdateTimeMiliseconds" value="1000" />
    <add key="exchangeBTCVolumeMinimun" value="3" />

    <add key="headerUpdateTimeMiliseconds" value="10000" />

    <add key="PublicKey" value="GY9JY8IE-UPAMNZA8-DU7N5DSX-CZ06VUW2" />
  <add key="PrivateKey" value="3dcf15ebfef01743306b03c70624f5a696ea957383241b4fe30289c4be96e31753a62889ea6fa5fad48249191284fab6f4ca13b5494700ac4580370202e1c163" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="FachadaWSSGSSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="FachadaWSSGSSoapBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://www3.bcb.gov.br/wssgs/services/FachadaWSSGS"
        binding="basicHttpBinding" bindingConfiguration="FachadaWSSGSSoapBinding"
        contract="FachadaWSSGS.FachadaWSSGS" name="FachadaWSSGS" />
    </client>
  </system.serviceModel>
</configuration>